.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin1 2s linear infinite;
}

@-webkit-keyframes spin1 {
  0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(-90deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin1 {
  0% { transform: rotate(0deg); }
  50% { -webkit-transform: rotate(-90deg); }
  100% { transform: rotate(360deg); }
}
.preview-2 .nivo-directionNav a.nivo-prevNav::before {
	content:"<" !important;
}

.preview-2 .nivo-directionNav a.nivo-nextNav::before{
	content:">" !important;
}
.layer-1-3 a.ready-btn{
	font-size:30px !important;
}
.main-menu a{
	font-size:30px !important;
}
.sec-head {
    font-size: 40px !important;
}
.single-well p {
	font-size:35px !important;
	line-height:50px;
}
.single-well ul li i {
	font-size:30px !important;
}

.single-well ul li {
	font-size:30px !important;
}
.testi-text p {
	font-size:30px !important;
    line-height: 1.5em;
    margin: 20px 0;
    letter-spacing: 1px;
}
.footer-content {
	font-size:25px !important;

}
.footer-head h4 {
    font-size: 30px !important;
}
.single-icon p {
    font-size: 25px !important;
    line-height: 30px !important;;
	overflow-wrap: normal;
    word-wrap: break-word;
}
.font-30 {
	font-size:30px !important;
	line-height:35px !important;
}
.project-menu li a{
	font-size:30px !important;
	line-height:35px !important;
}
.vbox-container{
z-index: 999998;
}
.footer-head h4 {
    line-height: 40px;
}
